@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{margin: 0;padding: 0;}
.fd_layout{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align:center;
    width:100%;
    height:919px;
    background-image:url("../assets/hero-bg.png");
    background-repeat:no-repeat;
    background-size:cover;
}